<div class="form register">
  <h1 class="register__title">Register</h1>
  <form action="" class="register__form">
    <div class="register__group">
      <label for="name" class="register__label">Username</label>
      <input
        type="text"
        class="register__input"
        id="name"
        placeholder="Enter your username"
      />
    </div>
    <div class="register__group">
      <label for="password" class="register__label">Password</label>
      <input
        type="password"
        class="register__input"
        id="password"
        placeholder="Enter your password"
      />
    </div>
    <div class="register__group">
      <label for="password" class="register__label">Confirm Password</label>
      <input
        type="password"
        class="register__input"
        id="password"
        placeholder="Enter your password"
      />
    </div>
    <div class="register__group save">
      <div class="save__info">
        <input type="checkbox" name="save" id="save" />
        <label for="save">Remember Me</label>
      </div>
      <a href="home.html" class="save_forgot">Forgot Password</a>
    </div>
    <button class="register__button">Register</button>
  </form>
</div>
