<aside class="bg-black text-white h-[100%] w-[12rem]">
  <div class="text-center">
    <a [routerLink]="['/dashboard']" class="text-3xl text-center">DashBoard</a>
  </div>
  <div class="user">
    <a
      [routerLink]="['/user']"
      class="block mt-4 text-lg py-2 hover:bg-white hover:text-black"
      >User</a
    >
  </div>
  <div class="category">
    <a
      [routerLink]="['/category']"
      class="block mt-4 text-lg py-2 hover:bg-white hover:text-black"
      >Category</a
    >
  </div>
</aside>
